form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    margin-bottom: 5px;
}
button {
    font-weight: bolder;
    background-color: lightgrey;
    border-radius: 15px;
    /* border: none; */
    margin-top: 5px;
    padding: 10px;
}
p {
    color: red;
}